mkdocs>=1.1
Pygments>=2.4
markdown>=3.2
pymdown-extensions>=7.0
mkdocs-material>=7.2
mkdocs-material-extensions>=1.0
plantuml-markdown
mkdocs-minify-plugin>=0.3
mkdocs-redirects>=1.0
mkdocs-mermaid2-plugin>=0.5
